# Build
build/
build_*/
_skbuild/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/

# pytest
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
